<h1>パスワードの再設定</h1>

<p>こんにちは、<%= @user.name || "ユーザー" %> さん</p>

<p>パスワードの再設定を受け付けました。新しいパスワードを設定するには、以下のリンクをクリックしてください：</p>

<p>
    <a href="<%= @reset_url %>">
    パスワードを再設定する
    </a>
</p>

<p>もし、パスワードの再設定をリクエストしていない場合は、このメールを無視してください。</p>
